body {
  line-height: 1.5;
}
html {
  box-sizing: border-box;
  overflow-wrap: break-word;
  margin: 0;
}
*,
*::before,
*::after {
  box-sizing: inherit;
  overflow-wrap: break-word;
  margin: 0;
  font-family: 'Roboto Mono', monospace;
}
